[Desktop Entry]
Name=USB Manager
Name[zh_CN]=USB 管理器
Comment=USB Device Manager
Comment[zh_CN]=USB 设备管理器
Exec=python3 /usr/share/usb-manager/usb-manager.py
Icon=/usr/share/usb-manager/icons/usb-manager.svg
Terminal=false
Type=Application
Categories=GNOME;Utility;System;
Keywords=usb;storage;mount;adb;android;
StartupNotify=true
